---
import Header from '../components/Header.astro';
import Postres from '../components/Postres.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import {data} from "../data/data.js"

---


<Layout>
	<Header/>
	<h2 class="w-full flex justify-center items-center text-4xl h-[4rem]">Postres</h2>
	<div class="flex justify-center m-8">
	<div class="grid grid-cols-2 w-[70rem]">
		{data.map(value=>(
			<Postres img={value.img} nombre={value.nombre} texto={value.texto} precio={value.precio}/>
		))}
	</div>
	</div>
	<Footer>
</Layout>
